<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-05-28T05:08:46Z</date>
	<key>WorkspacePath</key>
	<string>/Users/keiran/Desktop/Fonic HiFi/Fonic HiFi/Fonic HiFi.xcodeproj</string>
</dict>
</plist>
